<div class="gmd-backBtn mt-4">
    <p-button (click)="goBack()">
        <i class="pi pi-arrow-left"></i>
    </p-button>
</div>
<h1 class="loginHeading">Forgot Password</h1>
<p class="loginParagraph">Please enter your email</p>
<form>
    <div class="gmd-form-group">
        <label class="gmd-form-label">Email</label>
        <input class="gmd-form-input" type="email" placeholder="Email" />
    </div>
    <div class="loginBtn">
        <p-button label="Forgot Password"></p-button>
    </div>
</form>